<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="personDao" class="com.itcast.basic.spring.config.injection.staticfactory.PersonDao">
        <property name="personService" ref="personService"/>
    </bean>
    <bean id="personService" factory-method="createPersonService" class="com.itcast.basic.spring.config.injection.staticfactory.PersonFactory"/>
</beans>