<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="saveService" class="com.itcast.basic.spring.config.aop.dynamic.beforeadvisor.SaveService"/>
    <bean id="beforeAdvicor" class="com.itcast.basic.spring.config.aop.dynamic.beforeadvisor.SimpleBeforeAdvisor"/>
    <bean id="tranctionService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces"
                  value="com.itcast.basic.spring.config.aop.dynamic.beforeadvisor.ServiceInterface"/>
        <property name="target" ref="saveService"/>
        <property name="interceptorNames">
            <list>
                <value>beforeAdvicor</value>
            </list>
        </property>
    </bean>

</beans>