<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="basicSpringConfig" class="com.itcast.basic.spring.config.basic.BasicSpringConfig">
        <property name="orderNumber" value="1234567890"/>
        <property name="id" value="1"/>
        <property name="name" value="Lily"/>
        <property name="birthday" ref="birth"/>
        <property name="sex" ref="sex"/>
        <property name="count" value="22.55"/>
        <property name="object">
            <null/>
        </property>
        <property name="alias">
            <list>
                <value>java</value>
                <value>ruby</value>
                <value>elasticsearch</value>
            </list>
        </property>
        <property name="cards">
            <set>
                <value>ruby</value>
                <value>java</value>
                <value>ruby</value>
                <value>elasticsearch</value>
            </set>
        </property>
        <property name="lives">
            <map>
                <entry key="city">
                    <value>日本</value>
                </entry>
                <entry key="country">
                    <value>东京</value>
                </entry>
            </map>
        </property>
        <property name="config">
            <props>
                <prop key="数学">100</prop>
                <prop key="语文">70</prop>
                <prop key="英语">60</prop>
            </props>
        </property>
    </bean>
    <bean id="birth" class="java.util.Date"/>
    <bean id="sex" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.itcast.basic.spring.config.basic.Sex.MAN"/>
    </bean>
</beans>