<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <aop:config>
        <aop:aspect id="tractionAspect" ref="aspectUtils">
            <aop:pointcut id="pointcut"
                          expression="execution(* com.itcast.basic.spring.config.aop.cglib.*.*(..))"/>
            <aop:before method="openSession" pointcut-ref="pointcut"/>
            <aop:around method="beginTraction" pointcut-ref="pointcut"/>
            <aop:after method="commit" pointcut-ref="pointcut"/>
            <aop:after-returning method="close" pointcut-ref="pointcut"/>
            <aop:after-throwing method="occurThrow" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

    <bean id="aspectUtils" class="com.itcast.basic.spring.config.aop.cglib.AspectUtils"/>
    <bean id="saveService" class="com.itcast.basic.spring.config.aop.cglib.SaveService"/>
</beans>